 body {
  background-image: url('IMG/BGP.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
} 
    .navbar {
  text-align: center;
  background: #FAEAB1;
}
.navbar h6{
  font-family: serif;
  color: black;
}
.navbar a{
  font-family: serif;
  color: #C58940;

}
.navbar a:hover{
  color: black;
}
html,
body {
  background-image: linear-gradient(to right, #ffcccc, #ffffcc);
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}


.about-section {
  background: url(https://images.unsplash.com/photo-1517336714731-489689fd1ca8) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}
.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}
.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}
@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 70px;
  }
}
@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 50px;
  }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
}

.clock span {
    width: 100px;
    height: 80px;
    background: #fff;
    border-radius: 20px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.clock .text {
    margin-top: 10px;
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #000;
    color: #fff;
    opacity: 0.8;
    font-weight: bold;
}

.clock #ampm {
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}